{{!-- <!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
                <h1>
                    HOME!!!!!
                </h1>

        </div>
    </div>
</div>
<!-- END MAIN CONTENT--> --}}
<!-- WELCOME-->
<section class="welcome2 p-t-40 p-b-55" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb3">
                    <span class="subheading">WELCOME TO ONDA</span>
                    <h1 class="mb-6">Nos <span> ONDA</span> fournissent</h1>
                    <p class="mb-4">des outils fiables de planification, 
                        de suivi et de reporting pour la maintenance des équipements et des installations. 
                        Il est facile et simple à utiliser pour gérer les organisations aéronautiques.</p>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- END WELCOME-->

<!-- STATISTIC-->
<section class="statistic statistic2" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--green">
                    <div class="login-logo">
                        <h2><i class="far fa-calendar-check"></i></h2>
                    </div>
                    <span></span>
                    <div class="login-logo"><h2>Ordres de travail </h2></div>
                    <span class="desc">OBTENEZ LES TRAVAUX LES PLUS PRIORITAIRES TOUT EN VOUS ASSURANT QUE LES TRAVAUX DE PRIORITÉ INFÉRIEURE NE PASSENT PAS À TRAVERS LES FIILLES</span>  
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--orange">
                    <div class="login-logo">
                        <h2><i class="fa fa-cogs"></i></h2>
                    </div>
                    
                    <div class="login-logo"><h2>Gestion des pièces</h2></div>
                    <span class="desc">SUIVI ET RAPPORT SUR LA CONSOMMATION DES ARTICLES AVEC DES DOSSIERS D'INVENTAIRE SIMPLES.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue">
                    <div class="login-logo">
                        <h2><i class="fa fa-clone"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Afficher les rapports</h2></div>
                    <span class="desc">AFFICHER DES RAPPORTS IMPORTANTS COMME PPM, INSTALLATION, INSPECTION QUOTIDIENNE.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--red">
                    <div class="login-logo">
                        <h2><i class="fa fa-heartbeat"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Extend Prolonger la durée de vie de l'équipement Life</h2></div>
                    <span class="desc">IDENTIFIEZ LES ZONES À PROBLÈMES DE VOS ACTIFS EN VÉRIFIANT L'HISTOIRE DES ORDRES DE TRAVAIL ET EN INDIQUANT SUR LA MAINTENANCE PLANIFIÉE</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--violet">
                    <div class="login-logo">
                        <h2><i class="fa fa-clock-o"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Minimiser les temps d'arrêt</h2></div>
                    <span class="desc">RÉDUIRE LES TEMPS D'ARRÊT DES ÉQUIPEMENTS EN OPTIMISANT LA PLANIFICATION DE LA MAINTENANCE ET EN RÉDUISANT LE TEMPS DE RÉPONSE AUX RÉPARATIONS D'URGENCE</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue2">
                    <div class="login-logo">
                        <h2><i class="fa fa-cog"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Réduisez les dépenses de maintenance</h2></div>
                    <span class="desc">RÉDUISEZ LE NOMBRE DE PANNES COÛTEUSES ET DÉVELOPPEZ UNE MEILLEURE SURVEILLANCE DE VOS UTILISATIONS DE PIÈCES ET FOURNITURES</span>
                </div>
            </div>
        </div>
    </div>
</section>



