<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <h1>Search</h1>
    <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Search..." required>
        <button type="submit">Search</button>
    </form>

    <div id="resultsContainer"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('searchForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const query = document.getElementById('searchInput').value;
            
            if (query) {
              try {
                const response = await fetch(`/search/maintenances?equipmentCode=${query}`);
                const results = await response.json();
          
                // Afficher les résultats
                displayResults(results);
              } catch (error) {
                console.error('Error searching:', error);
              }
            } else {
              alert('Please enter a search query');
            }
          });
          
          function displayResults(results) {
            const resultsContainer = document.getElementById('resultsContainer');
            resultsContainer.innerHTML = '';
          
            if (results.length > 0) {
              results.forEach(maintenance => {
                const div = document.createElement('div');
                div.innerHTML = `
                  <h3>Maintenance ID: ${maintenance.id}</h3>
                  <p>Date de début: ${maintenance.StartDate}</p>
                  <p>Date de fin: ${maintenance.EndDate}</p>
                  <p>Description: ${maintenance.Description}</p>
                `;
                resultsContainer.appendChild(div);
              });
            } else {
              resultsContainer.innerHTML = '<p>No maintenance found for this equipment.</p>';
            }
          }
    </script>
</body>
</html>
